*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/repo
/router_mapping
页面文档.md
# Project exclude paths
/buildSrc/build/
/router-annotations/build/
/router-annotations/build/classes/java/main/
/router-processor/build/
/router-processor/build/classes/java/main/